body{
    margin:2% 10%;
    background-color:rgba(238, 240, 255, 0.45);
    letter-spacing: 0.5pt;      /* para separar entgre letras */
    word-spacing: 1pt;        /* para separacion entre palabras */
    line-height: 20pt;        /* para la separacion entre lineas */
    #text-indent: 5pt;        /* para sangrias */
}

#contenedor{
    padding:10px;
    font-family:monospace;
    /*background-color:rgba(255, 255, 255, 0.54);*/
    border-radius:3px;
    -moz-border-radius;3px;
    /*padding:5px;*/
}
h1{
    font-family:calibri, Arial, Monaco;
    text-align:right;
    color:#000421;

}
h2{

    font-family:calibri, Arial, Monaco;
    color:#FFF;
    background-color:#000421;
    box-shadow: 4px 8px 15px rgba(64, 64, 64, 0.76);
    border-radius:1px;
    -webkit-box-shadow:4px 8px 15px rgba(64, 64, 64, 0.76);
    -moz-box-shadow:4px 8px 15px rgba(64, 64, 64, 0.76);
    /* filter: progid:DXImageTransform.Microsoft.Shadow(color=rgba(64, 64, 64, 0.76), Direction=135, Strength=4);*/
    padding:4px;
    margin:0px;
}
input.text {
    font-family:calibri, Arial, Monaco;
    border-bottom:#0F143B solid;
    color:#000421;
}
label{
    font-family:calibri, Arial, Monaco;
    #border-bottom:#0F143B solid;
    color:darkmagenta;
    font-size:1.2em ;
}
input.submit{
    #border-bottom: darkmagenta;
    font-size:1.2em ;
    background: darkgray;


}
fieldset{
    width:50%;
    background: azure;
}
fieldset.inner{
    width:90%;
    background: aliceblue;
}

legend{
    font-size: 1em;
    font-weight: bold;
    color:navy;
}

