#uno{
    width: 20%;
    margin-left: 10%;
    background: bisque;
    float: left;
}

#dos{
    width: 20%;
    margin-left: 10%;
    background: bisque;
    float: left;
}

#tres{
    width: 50%;
    margin-left: -10%;
    margin-top: 5%;
    background: bisque;
    float: left;
}