/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 9, 2019, 8:55:52 AM
    Author     : fernando
*/



#contenedor{
    display: flex;
    flex-direction: column;
}

#contTit{
    display: flex;
    justify-content: center;
}

#contList{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


ul{
    list-style: none;
}





