/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30 nov. 2019, 20:29:52
    Author     : luis
*/

header {
    background: #3364FF;
    height: 60px;
    text-align: center;
    font-weight: bold;
    font-size: 2.5em;
    color: darkorange;
    float: none;
}

div {
    display: block;
}

form {
    
    float: left;
    margin: 15px;
    width: 43%;
}
fieldset{
    background: #33CAFF;
}

legend {
    color: darkblue;
    font-weight: bold;
    font-size: 1,6em;
    font-style: oblique;
}

label {
    color: blue;
    font-weight: bold;
    font-size: 1,4em;
}

input[type=text] {
    color: blue;
    font-weight: bold;
    font-size: 1,6em;
}

.añadir{
    color: green;
    font-weight: bold;
    font-size: 1,8em;
    margin-top: 20px;
}

.eliminar{
    color: red;
    font-weight: bold;
    font-size: 1,8em;
    margin-top: 20px;
}

input[type="submit"][disabled] {
    color: darkgrey;
    font-weight: normal;
}

.listado {
    background: #33CAFF;
    float: right;
    margin: 10px;
    width: 48%;
}

.center {
    text-align: center;
    color: darkblue;
    font-weight: bold;
    font-size: 1,6em;
    margin: 30px;
}

table, th, tr, td {
    text-align: center;
    border-collapse: collapse;
    border: 2px solid blue;
    padding: 3px;
}
table {
    margin: 30px;
}