/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14-oct-2019, 11:47:02
    Author     : alumno
*/

p{
   color: dodgerblue;
   padding: 10px;
}
h1 {
    text-align: center;
    color: purple;
}
h3{
    text-align: center;
    color: purple;
}
h4{
    text-align: center;
    color: purple;
}
div{
    
}
body {
    background-color: powderblue;
}
table{
    
    background-color: #AAFFDD;
    
}
th{
    border: solid 1px ;
    color: purple;
    background-color: #AAFFDD;
}
td{
    
    border: solid 1px ;
    border-color: purple;
    background-color: #AAFFDD;
}
#enunciado{
    width: 20%;
    float: left;
    margin: 1%;
    
}
#volver{
    margin-top: 10px;
    border-style: double;
    background-color: #CCFFBB;    
}
#contenido{
    margin-left: 25%;
    width: 70%;
    border-style: double;
    background-color: #CCFFBB;
}
#interior{
    border-style: double;
    background-color: #CCFFBB;
}