/*
    Author     : ainhoa
*/

/*General*/

body {
    background-color: #f9f5fc;
}

h1 {
    color: #ac1f5b;
    text-align: center;
}

h4, h3 {
    color: #701ba7;
}

fieldset {
    background-color: #e7d6f2;
    margin: 0 auto;
    width: 50%;
    border-radius: 8px;
}