/* 
    Created on : 19-nov-2019, 20:59:52
    Author     : Nacho
*/

body{
    background-color: #F7DB89;
    width: 50%;
    float: left;
    margin-left: 25%
}

li.opcion
{
   float:left;
   margin:0px 1px;
   border:1px solid black;
   background:#eeeeee;
}


